@charset "UTF-8";

/* 回答はここに書いてね */

.all_wrap {
	overflow: hidden;
	width: 500px;
	height: 333px;
	margin: 0 auto;
	position: relative;
}

.image_wrap {
    position: relative;
    cursor: pointer;
    width: 500px;
    height: 333px;
}

.main_image {
	width: 100%;
	height: 100%.;
	transition: all .5s;
}

.image_wrap:hover > .main_image {
	transform: scale(1.5);
}


.gradient {
	width: 100%;
	height: 100%;
	background: linear-gradient(#0000,#0008);
	transition: all .5s;
	position: relative;
	top: 0;
	margin: auto;
}

.image_wrap:hover > .gradient {
	top: -333px;
	left: 0;
}

.text {
	font-size: 16px;
	line-height: 16px;
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
	word-break: break-all;
}

.animation {
	margin: 0 auto;
}

.circle1 {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	border: 10px solid #ecf1f2;
	border-top-color: #00bcd4;
	animation: loading 1.1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(-360deg);
    transform-origin: 50% 50%;
  }
}



/* 回答はここに書いてね */