@charset "UTF-8";

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.wrapper {
	margin: 0 auto;
}

.article-wrap {
	width: 900px;
	background-color: #eff3f4;
	padding: 20px;
	margin: 0 auto;
}

.area {
	margin-left: 20px;
	padding: 20px;
	background-color: #3274ae;
	float: left;
}

.area:first-child {
	margin-left: 0;
}

.square {
	width: 230px;
	background-color: #eaf4ff;
	border: solid 10px; #02236;
	box-sizing: border-box;
	margin: auto;
	padding: 20px;
}

.text {
	font-size: 16px;
	line-height: 16px;
	margin: auto;
}