@charset "UTF-8";

/* 回答はここに書いてね */

.box{
	text-align: center;
}

.q{
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}
.text{
	padding: 5px;
	border: 1px solid #00BCD4;
	border-radius: 5px;
	font-size: 16px;
	outline: 0;
}

input::placeholder {
	color: #00BCD4;
}

.textarea{
	height: 40px;
	padding: 5px;
	border: 1px solid #00BCD4;
	border-radius: 5px;
	resize: none;
	font-size: 16px;
	outline: 0;
}

.q3_radio{
	cursor: pointer;
}

.radio_input{
	display: none;
}

.radio_text{
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 20px;
}

.radio_text::before{
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	content:'';
}

.radio_input:checked + .radio_text::after{
	position: absolute;
	top:50%;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background-color: #00BCD4;
	border-radius: 50%;
	content: '';
}
.q4_label{
	cursor: pointer;
}

.checkbox{
	display: none;
}

.checkbox_text{
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 22px;
}

.checkbox_text::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.checkbox:checked + .checkbox_text::after{
	position: absolute;
	content: '';
	top: 5px;
	left: 3px;
	width: 13px;
	height: 5px;
	border-bottom: 2px solid #00BCD4;
	border-left: 2px solid #00BCD4;
	transform: rotate(-45deg);
}


.selectbox{
	position: relative;
	background-color: #FFF;
}

.selectbox::after{
	position: absolute;
	top: 7px;
	right: 9px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	transform: rotate(-45deg);
	content: "";
	pointer-events: none;
}

.item{
	position: relative;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px 30px 5px 5px;
	font-size: 14px;
	-webkit-appearance: none;
	outline: 0;
}

.btn{
	padding: 5px 10px;
	border: 1px solid #00BCD4;
	border-radius: 5px;
	color: #00BCD4;
	cursor: pointer;
	outline: 0;
	font-size: 16px;
}

.btn:active{
	padding: 5px 10px;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	background-color: #00BCD4;
	outline: 0;
}

/* 回答はここに書いてね */
