@charset "UTF-8";

/* 回答はここに書いてね */


.inline {
	display: inline-block;
}

.small {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	border-radius: 3px;
	line-height: 26px;
	margin: 5px;
}

.middle {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	border-radius: 5px;
	line-height: 32px;
	margin: 5px;
}

.large {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 24px;
	border-radius: 7px;
	line-height: 38px;
	margin: 5px;

}

.common {
	background-color: #00bcd4;
	color: #fff;
}

.error {
	background-color: #ff4081;
	color: #fff;
}

.disabled {
	background-color: #e5e5e5;
	color: #fff;
}

.shadow {
	background-color: #fff;
	color: #222;
	box-shadow:
	0 1px 4px rgba(0,0,0,.12),
	0 1px 6px rgba(0,0,0,.12);
}
/* 回答はここに書いてね */
